<link href="themes/trackbox/frames/song/song.css" rel="stylesheet" />
<% for (var i = 0; i < list.length; i++) { %>
<div class="list-row">
	<div class="column-queue">
		<p>
			<a>+</a>
		</p>
	</div>
	<div class="column-title">
		<p><%= list[i].title %></p>
	</div>
	<div class="column-number">
		<p><%= list[i].number %></p>
	</div>
	<div class="column-album">
		<p>
			<a class="clickable"><%= list[i].album %></a>
		</p>
	</div>
	<div class="column-artist">
		<p>
			<a class="clickable"><%= list[i].artist %></a>
		</p>
	</div>
	<div class="column-time">
		<p><%= list[i].time %></p>
	</div>
	<div class="column-rating">
		<p>
			<span>
				<a></a>
				<a></a>
				<a></a>
				<a></a>
				<a></a>
			</span>
		</p>
	</div>
	<div class="column-enabled">
		<p>
			<input type="checkbox" id="enabled-checkbox-<%= i %>" checked="" />
			<label for="enabled-checkbox-<%= i %>"></label>
		</p>
	</div>
</div>
<% } %>